body, 
html, 
*{
    font-size: 20px;
    box-sizing: border-box;
    
    padding: 0;
    font-family: 'Kalam', cursive;
    align-items: center;
    background-color: aliceblue;
    margin: 10px;
    
}


#h1 {
    text-align: center;
    font-size: 200%;
    padding: .5%;
    font-family: 'Rancho', cursive;
  
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    }
    
   
    .card {
        height: 38%;
        width: 20%;
        background-color: rgb(188, 207, 214);
        align-items: center;
        border-radius: 5%;
        box-shadow: 10px 5px 5px rgb(70, 72, 73);
        transition: all 0.7s;
        margin: 15px 1px;
        opacity: .75;
    }
   
 .card-img {
        width: 90%;
        height: 22vh; 
        align-items: center;
        margin-left: 5%;
    }

    .card-title {
        font: 2.2rem;
        margin-top: 20px 80px;
        text-align: center;
        
    }

.card:hover{
    transform: scale(1.05) rotate(1.5deg) translate(15px,8px);
    color: #026a9a;
    background-color: #284978;
    opacity: 1;

}
.animation {

  width: 2rem;
  height: 2rem;
  background: rgb(184, 203, 238);
  position: relative;
  animation: animate 10s infinite alternate;
}
@keyframes animate {
    0%   {background-color:rgb(192, 245, 255); left:0px; top:0px;}
  20%  {background-color:rgb(143, 204, 227); left:20%; top:0px;}
  40%  {background-color:rgb(75, 183, 233); left:40%; top:0px;}
  60%  {background-color:rgb(101, 164, 215); left:60%; top:0px;}
  80%  {background-color:rgb(44, 116, 176); left:80%; top:0px;}
  100% {background-color:rgb(17, 82, 160); left:100%; top:0px;}
}

.card-desc {
    text-align: center;
}
    
@media screen and (max-width:1200px){
    .card {
        width: 28%;
    }
 }
@media screen and (max-width:1000px){
    .card {
        width: 40%;
    }
 }
 @media screen and (max-width:500px){
    .card {
        width: 95%;
    }
 }