body, 
html, 
*{
    font-size: 20px;
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    font-family: 'Kalam', cursive;
    align-items: center;
    background-color: aliceblue;
    
}


.h1 {
    text-align: center;
    font-size: 180%;
    padding: .5%;
    background-color: rgb(133, 155, 175);
    font-family: 'Rancho', cursive;
    margin-left: 40%;
    margin-right: 40%;
}

    
    .card {

        height: 38%;
        width: 20%;
        background-color: rgb(188, 207, 214);
        align-items: center;
        border-radius: 5%;
        box-shadow: 10px 5px 5px rgb(70, 72, 73);
    }
   
 .card-one-img {
        width: 90%;
        height: 22vh; 
    justify-content: center;
    margin-left: 5%
    }

.card-one-title {
    font: 2.2rem;}

.card-one-desc {
    text-align: center;
}
